@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
body, html{
    height: 100vh;
    width: 100vw;
}
body{
    position: relative;
    background-color: rgba(216, 212, 212, 0.486);
}
header img{
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 4%;
    right: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    position: relative;
}
header h1{
    color: rgb(92, 90, 90);
    margin-right: 1%;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#icon{
  
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 10px; 
    background-color:rgb(0, 132, 255);
}
#dados{
    font-size: 1.2em;
    text-align: justify;
}
.marcellus-regular {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
  }
  
button{
    padding: 5px;
    width: 80px;
    background-color: rgb(0, 132, 255);
    border: 1px solid;
    border-radius: 5px;
    color: white;
    margin: 5px;
}
footer{
    position: absolute;
    bottom: 4%;
    left: 38%;
}